<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/tabIcon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <P>
                Simple test site that fetches weather using nodejs/express and handlebars templates
            </P>
            <img class="portrait" src="/img/dog.PNG">
        </div>
        


    </body>



    {{>footer}}


</html>