<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
         <link rel="icon" href="/img/tabIcon.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{msg}}</p>
        </div>
        


    </body>



    {{>footer}}


</html>